<a href="https://colab.research.google.com/github/ancka019/data_analysis-/blob/main/Hw7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from scipy.stats import norm, chi2_contingency
import statsmodels.api as sm
import numpy as np

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from scipy import stats
matplotlib.style.use('ggplot')
%matplotlib inline

In [ ]:
df = pd.read_csv('/content/Таблица_2021-11-13_10-30.csv', sep=";")

In [ ]:
df.head()

         Дата              Регион  ...  Заражений за день  Выздоровлений за день
0  20.09.2020        Томская обл.  ...                 62                     92
1  26.09.2020    Костромская обл.  ...                 54                     44
2  02.09.2021   Ямало-Ненецкий АО  ...                102                    121
3  15.12.2020    Сахалинская обл.  ...                142                    366
4  21.09.2020  Волгоградская обл.  ...                 95                     13

[5 rows x 8 columns]

In [ ]:
df2 = df[df['Дата'] == '11.11.2021']

In [ ]:
df2[df2['Регион'] == 'Москва'] #выборка А

             Дата  Регион  ...  Заражений за день  Выздоровлений за день
36595  11.11.2021  Москва  ...               6240                   5505

[1 rows x 8 columns]

In [ ]:
df2[df2['Регион'] == 'Санкт-Петербург'] #выборка B

             Дата           Регион  ...  Заражений за день  Выздоровлений за день
48737  11.11.2021  Санкт-Петербург  ...               3230                   3118

[1 rows x 8 columns]

In [ ]:
s1 = 5505     #  число успехов     выборка А
n1 = 6240      #  число испытаний   выборка А
s2 = 3118       #  число успехов     выборка Б
n2 = 3230      #  число испытаний   выборка Б
p1 = s1/n1               #  оценка вероятности успеха выборка А
p2 = s2/n2               #  оценка вероятности успеха выборка Б
p = (s1 + s2)/(n1+n2)    #  оценка вероятности успеха выборка А+Б
z = (p2-p1)/ ((p*(1-p)*((1/n1)+(1/n2)))**0.5)  #  z-метка

p_value = norm.cdf(z)

#  z-метка и p-значение
print(['{:.12f}'.format(a) for a in (abs(z), p_value * 2)])

['13.435982269548', '2.000000000000']

In [ ]:
z1, p_value1 = sm.stats.proportions_ztest([s1, s2], [n1, n2])

#  z-метка и p-значение
print(['{:.12f}'.format(b) for b in (z1, p_value1)])

['-13.435982269548', '0.000000000000']

In [ ]:
df2[df2['Регион'] == 'Сахалинская обл.'] #выборка А

             Дата            Регион  ...  Заражений за день  Выздоровлений за день
38513  11.11.2021  Сахалинская обл.  ...                 96                     78

[1 rows x 8 columns]

In [ ]:
df2[df2['Регион'] == 'Костромская обл.'] #выборка B

             Дата            Регион  ...  Заражений за день  Выздоровлений за день
16402  11.11.2021  Костромская обл.  ...                206                    108

[1 rows x 8 columns]

In [ ]:
s1 = 78     #  число успехов     выборка А
n1 = 96      #  число испытаний   выборка А
s2 = 108       #  число успехов     выборка Б
n2 = 206      #  число испытаний   выборка Б
p1 = s1/n1               #  оценка вероятности успеха выборка А
p2 = s2/n2               #  оценка вероятности успеха выборка Б
p = (s1 + s2)/(n1+n2)    #  оценка вероятности успеха выборка А+Б
z = (p2-p1)/ ((p*(1-p)*((1/n1)+(1/n2)))**0.5)  #  z-метка

p_value = norm.cdf(z)

#  z-метка и p-значение
print(['{:.12f}'.format(a) for a in (abs(z), p_value * 2)])

['4.795386692237', '0.000001623613']

In [ ]:
z1, p_value1 = sm.stats.proportions_ztest([s1, s2], [n1, n2])

#  z-метка и p-значение
print(['{:.12f}'.format(b) for b in (z1, p_value1)])

['4.795386692237', '0.000001623613']

In [ ]:
arr = np.array([[s1, n1-s1], [s2, n2-s2]])
chi2, p_value3, dof, exp = chi2_contingency(arr, correction=False)

print(['{:.12f}'.format(d) for d in (chi2**0.5, p_value3)])

['4.795386692237', '0.000001623613']